body{
    font-family: helvetica;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#wrapper{
    margin: 10%;
    text-align: center;
    min-width: 400px;
}

#board{
    border: 1px solid gray;
    display: inline-block;
    margin: auto;
}

.row{
    clear: both;
}

.cell{
    text-align: center;
    width: 20px;
    height: 20px;
    float: left;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
}

.cell span{
    display: none;
}

.cell img{
    display: none;
    z-index: 100;
}